/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTTravels';
    src: url('../fonts/TTTravels/TTTravels-DemiBold.eot');
    src: url('../fonts/TTTravels/TTTravels-DemiBold.woff') format('woff'), url('../fonts/TTTravels/TTTravels-DemiBold.woff2') format('woff2'), url('../fonts/TTTravels/TTTravels-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.header{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: fixed;
  transition: 1s;
  height: 100px;
}
.active {
  background-color: rgba(0,0,0,0.7);
}

.header-img {
  text-align: center;
  opacity: 0.8;
  width: 100%;
  transition: 0.2s linear;
}
.header-img:hover {
  opacity: 1;
}
.header-logo {
  width: 100px;
  height: auto;
}
.header-text {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
}

.header a {
  font-family: 'Roboto', sans-serif;
  color: #747272;
  letter-spacing: 5px;
  text-decoration: none;
  word-spacing: 25px;
  transition: 0.2s linear;
}
.header a:hover {
  color: #ffffff;
}
.main {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1088px;
}
.title-text {
  padding: 425px 0 0 0;
  font-family: 'TTTravels', sans-serif;
  text-align: center;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.title-text h1 {
  text-transform: uppercase;
  font-size: 64px;
  color: #ffffff;
}
.title-text p {
  font-size: 20px;
  color: #B6AEAE;
}
.title-text span {
  color: #CB2929;
}

.content {
  margin-top: 0;
  height: 4600px;
  background-image: url(../img/backgroundblur.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.features {
  color: #ffffff;
  font-family: 'TTTravels', sans-serif;
  text-align: center;
  margin-top: 290px;
}
.feature {
  display: inline-block;
  margin: 40px;
}
.feature h2 {
  font-size: 62px;
  margin-bottom: 0;
}
.feature p {
  margin-top: 0;
  font-size: 31px;
}
.seasons {
  padding-top: 200px;
}
.section-title {
  font-family: 'TTTravels', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  color: #E3E3E3;
  margin-bottom: 50px;
}
.seasons-btn {
  text-align: center;
}
.seasons-btn button {
  font-family: 'Roboto';
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 5px 25px;
  background-color: rgba(0,0,0,0);
  border: none;
}
.seasons-btn .active-btn {
  border: #ffffff 1px solid;
  border-radius: 30px;
}
.seasons-title {
  font-family: 'TTTravels', sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 64px;
  color: #ffffff;
  margin-top: 80px;
}
.seasons p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin-top: 31px;
}
.seasons-btn-link {
  margin-top: 38px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 19px;
  color: #ffffff;
  background-color: rgba(0,0,0,0);
  border: #ffffff 1px solid;
  border-radius: 30px;
  padding: 5px 0 5px 0;
  transition: 0.2s linear;
  z-index: 1;
}
.seasons-btn-link:hover {
  color: #000;
  background-color: #ffffff;
}
.seasons img {
  left: 45%;
  top: 1400px;
  opacity: 0.5;
  width: 45%;
  position: absolute;
  z-index: 0;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  pointer-events: none;
}
.artists {
  margin-top: 310px;
  text-align: center;
}
.artist-block {
  position: relative;
  display: inline-block;
  margin: 50px;
  width: 250px;
  height: 250px;
  padding: 0;
}
.artist-block-active {
  width: 350px;
  height: 350px;
}
.artist-block img {
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.artist-text {
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  border-radius: 50%;
  transition: 0.2s linear;
  opacity: 0;
}
.artist-text-active {
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  border-radius: 50%;
  transition: 0.2s linear;
  opacity: 0;
}
.artist-text h2 {
  font-size: 25px;
  padding-top: 80px;
}
.artist-text p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
.artist-text-active h2 {
  padding-top: 120px;
}
.artist-text-active p {
  font-family: 'Roboto', sans-serif;
}
.artist-text:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.7);
}
.artist-text-active:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.7);
}
.artists-btn {
  text-align: center;
}
.artists-btn-link {
  text-align: center;
  font-family: 'Roboto';
  font-size: 22px;
  color: #ffffff;
  margin-top: 50px;
  padding: 5px 50px;
  background-color: rgba(255, 255, 255, 0);
  border: #ffffff 1px solid;
  border-radius: 30px;
  transition: 0.2s linear;
}
.artists-btn-link:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
}
.news {
  margin-top: 200px;
  text-align: center;
  position: relative;
}
.news-main {
  text-align: left;
  box-sizing: border-box;
  margin-top: 60px;
  width: 100%;
  height: 421px;
  border: 2px solid #747272;
  border-radius: 25px;
}
.news h2 {
  width: 489px;
  height: 48px;
  left: 502.86px;
  margin-top: 250px;
  margin-left: 48px;
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #E3E3E3;
}
.news p {
  width: 252px;
  height: 15px;
  left: 509.15px;
  margin-left: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.5935px;
  line-height: 15px;
  color: #E3E3E3;
}
.news button {
  text-align: center;
  font-family: 'Roboto';
  font-size: 10px;
  color: #000;
  padding: 10px 39px;
  margin-top: 15px;
  margin-left: 48px;
  background-color: #E3E3E3;
  border: none;
  border-radius: 30px;
  transition: 0.2s linear;
}
.views-icon {
  margin-left: 72%;
}
.news span {
  text-align: right;
  font-family: 'Roboto';
  font-size: 15px;
  color: #B9AFAF;
}
.news-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;
}
.news-card {
  display: inline-block;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  margin-top: 24px;
  /*margin: 24px 0.5% 0px 0.5%;*/
  width: 48%;
  height: 421px;
  border: 2px solid #747272;
  border-radius: 25px;
}
.news-card h2 {
  position: relative;
  left: 0;
  margin-bottom: 0;
  width: 390px;
  line-height: 38px;
  margin-top: 285px;
  margin-left: 32px;
  font-size: 32px;
  z-index: 2;
}
.news-card p {
  position: relative;
  left: 0;
  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 0;
  font-size: 12px;
  width: 390px;
  height: 14px;
  line-height: 14px;
  z-index: 2;
}
.news-card button {
  position: relative;
  left: 0;
  color: #E3E3E3;
  font-size: 10px;
  line-height: 12px;
  background: none;
  border: #E3E3E3 1px solid;
  padding: 9px 34px;
  z-index: 2;
  margin-left: 32px;
}
.news-card .views-icon {
  position: relative;
  left: 0;
  margin-top: 0;
  margin-left: 50%;
  width: 25px;
  z-index: 2;
}
.news-card span {
  position: relative;
  left: 0;
  height: 7px;
  line-height: 7px;
  font-size: 12px;
  z-index: 2;
}
.news-card-shadow {
  position: absolute;
  width: 100%;
  height: 35%;
  margin-top: 65%;
  background: rgba(34, 33, 33, 0.75);
  border-top: 2px solid #747272;
  border-radius: 0 0 25px 25px;
  bottom: -1px;
  z-index: 1;
}

.footer {
  height: 347px;
  background-color: #0D0D0D;
  text-align: center;
}
.footer-logo {
  width: 150px;
  margin-top: 50px;
  opacity: 0.8;
  transition: 0.2s linear;
}
.footer-logo:hover {
  opacity: 1;
}
.footer-text {
  margin-top: 35px;
}
.footer-text a {
  font-family: 'Roboto', sans-serif;
  color: #747272;
  letter-spacing: 5px;
  text-decoration: none;
  word-spacing: 25px;
  transition: 0.2s linear;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
}
.footer-text a:hover {
  color: #ffffff;
}
.footer-icons {
  width: 100%;
  margin-top: 30px;
}
.footer-icons img {
  text-align: center;
  position: relative;
  bottom: 2.5px;
  width: 24px;
  height: auto;
}
.footer-icons a{
  width: 40px;
  height: 40px;
  padding: 8px 7px;
  border: 1px solid #E3E3E3;
  border-radius: 500px;
  margin: 0 20px;
}

.opacity {
  opacity: 0;
}


@media (max-width: 767px) {
  .title-text h1 {
    font-size: 20px;
    
  }
  .title-text p {
    font-size: 13px;
  }
  .main {
    height: 800px;
  }
  .header {
    position: relative;
    height: auto;
  }
  .header-text a {
    display: block;
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .active {
    background-color: rgba(0,0,0,0);
  }
  .features h2 {
    font-size: 20px;
  }
  .feature {
    display: block;
  }
  .features p {
    font-size: 13px;
  }
  .section-title {
    font-size: 20px;
  }
  .seasons-btn {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .seasons-title {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: #CB2929;
  }
  .seasons p {
    font-size: 13px;
    text-align: center;
  }
}
@media (max-width: 1205px) {
  .seasons img {
    display: none;
  }
}