<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo-battle</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main">

        <!--header-->
        <div class="header">
            <div class="row">
                <div class="col-xxl-1 col-sm-12 offset-xxl-2">
                    <a href="#">
                        <div class="header-img">
                            <img src="../img/logo.jpg" class="header-logo" alt="logo">
                        </div>
                    </a>
                </div>
                <div class="col-xxl-8 col-sm-12 header-text">
                    <a href="#">сезоны </a>
                    <a href="#">исполнители </a>
                    <a href="#">новости </a>
                    <a href="#">онас </a>
                </div>
            </div>
        </div>

        <!--main content-->
        <div class="container">
            <div class="row">
                        
            <div class="title-text col-12">
                <h1>хиты пишутся быстро</h1>
                <p>Добро пожаловать в семью <span class="red">TURBO</span>.</p>
            </div>
    
            </div>
        </div>

    </div>
    <div class="content">
        <div class="container">
            <!--features-->
            <div class="row">
                <div class="col-xxl-10 offset-xxl-1 features">
                    <div class="feature">
                        <h2>100+</h2>
                        <p>исполнителей</p>
                    </div>
                    <div class="feature">
                        <h2>200+</h2>
                        <p>качественных песен</p>
                    </div>
                    <div class="feature">
                        <h2>20</h2>
                        <p>судей</p>
                    </div>
                </div>
            </div>
            <!--seasons-->
            <div class="row seasons">
                <h1 class="col-xxl-12 section-title">сезоны</h1>
                <button class="col-xxl-2 offset-xxl-0 col-8 offset-2 seasons-btn active-btn">1 сезон</button>
                <button class="col-xxl-2 offset-xxl-0 col-8 offset-2 seasons-btn">2 сезон</button>
                <button class="col-xxl-2 offset-xxl-0 col-8 offset-2 seasons-btn">3 сезон</button>
                <button class="col-xxl-2 offset-xxl-0 col-8 offset-2 seasons-btn">3,5 сезон</button>
                <button class="col-xxl-2 offset-xxl-0 col-8 offset-2 seasons-btn">4 сезон</button>
                <button class="col-xxl-2 offset-xxl-0 col-8 offset-2 seasons-btn">5 сезон</button>
                <h1 class="col-xxl-8 offset-xxl-1 col-8 offset-2 seasons-title">свежее дыхание<br>в баттл-рэпе</h1>
                <p class="col-xxl-5 offset-xxl-1">Батлы медленно начали скатываться в рутину и перепалки “между собой”. Именно поэтому мы решили открыть новую главу в истории батл-рэпа. Площадка без ограничений, долгого судейства и утомительного ожидания следующего раунда. Это TURBO BATTLE 1.</p>
                <img src="../img/mic.png" alt="">
                <div class="col-xxl-6"></div>
                <button class="col-xxl-2 offset-xxl-1 col-8 offset-2 seasons-btn-link">Смотреть полностью</button>
            </div>
        </div>
    </div>

    <div class="lorem"><p> </p></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>